@charset "UTF-8";
/* メディアクエリ用のmixinを定義。デフォルト値はsp */
/* map-get(マップ型変数, キー)で値を取得 */
/* @contentのなかをカスタムできる */
.section_inner.contactform {
  padding-top: 120px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section_inner.contactform {
    max-width: 700px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-top: 32px;
}
@media screen and (min-width: 768px) {
  .form {
    padding-top: 48px;
  }
}

.form-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pcbr {
  display: none;
}
@media screen and (min-width: 768px) {
  .pcbr {
    display: inline;
  }
}

.form-input {
  font-family: 游ゴシック, YuGothic, "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "Droid Sans", sans-serif;
  color: #333;
  padding: 12px;
  border: 1px solid #ededed;
  background-color: #f9f9f9;
}
.form-input::-webkit-input-placeholder {
  color: #AEAEAE;
}
.form-input::-moz-placeholder {
  color: #AEAEAE;
}
.form-input:-ms-input-placeholder {
  color: #AEAEAE;
}
.form-input::-ms-input-placeholder {
  color: #AEAEAE;
}
.form-input::placeholder {
  color: #AEAEAE;
}

@media screen and (min-width: 768px) {
  .form-text-container {
    text-align: center;
  }
}

.form-reply-text {
  font-size: 14px;
  margin-bottom: 8px;
}

.form-recaptcha-text {
  font-size: 14px;
  margin-bottom: 16px;
}

.form-recaptcha-link {
  text-decoration: underline;
  color: #2b7bb9;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.form-recaptcha-link:hover {
  opacity: 0.7;
}

.form-submit {
  display: block;
  color: white;
  width: 100%;
  padding: 12px 0;
  background-color: #1B435D;
  border: none;
  border-radius: 100vh;
  text-align: center;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}
.form-submit:hover {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
@media screen and (min-width: 768px) {
  .form-submit {
    margin: 0 auto;
    max-width: 400px;
  }
}

body {
  font-family: Comfortaa, 游ゴシック, YuGothic, "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "Droid Sans", sans-serif;
  color: #333;
}
body.is-fixed {
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 180px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .button {
    -webkit-transition: background 0.3s, color 0.3s, opacity 0.3s;
    transition: background 0.3s, color 0.3s, opacity 0.3s;
  }
  .button:hover {
    background-color: #fff;
  }
  .button:hover .button-text {
    color: #4a4a4a;
  }
}

.button-text {
  margin-left: 10px;
  font-size: 16px;
  letter-spacing: 0.08em;
  color: #fff;
}

.section {
  padding: 48px 0;
}

.section-inner {
  padding: 0 32px;
}
@media screen and (min-width: 768px) {
  .section-inner {
    max-width: 944px;
    margin: 0 auto;
  }
}

.section-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 48px;
  text-align: center;
  color: #1B435D;
}

.section-head-works {
  margin-bottom: 32px;
}

.section-head-white {
  color: #fff;
}

.section-head-center {
  text-align: center;
}

.section-head-main {
  font-size: 40px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .section-head-main {
    font-size: 54px;
  }
}

.section-head-sub {
  font-size: 20px;
}

.section-contents {
  margin-top: 40px;
}

.section-leadtext {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

/* header */
.header {
  width: 100%;
  border-bottom: 1px solid #1B435D;
  padding: 12px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 16px;
  }
}

.header-logo {
  width: 200px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin: 0;
  }
}

.header-nav-list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .header-nav-list {
    gap: 40px;
  }
}

.header-nav-link {
  color: #333;
}
@media screen and (min-width: 768px) {
  .header-nav-link {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
}
@media screen and (min-width: 768px) {
  .header-nav-link:hover {
    opacity: 0.7;
  }
}

.header-nav-item {
  /* menuボタンとドロワーメニューを縦並びにしてセンター揃え */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1080px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    padding: 0 40px;
  }
}

.fv {
  position: relative;
}

.fv-contents {
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 209px;
  background: url(../img/sp/bg_fv.png) center center no-repeat;
  background-size: 100% auto;
  padding: 32px;
}
@media screen and (min-width: 768px) {
  .fv-contents {
    background: url(../img/bg_fv.png) center center no-repeat;
    width: 627px;
    height: 174px;
    padding-top: 24px;
    padding-left: 96px;
    bottom: 100px;
    left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .fv-contents {
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.fv-heading-main {
  display: block;
  font-size: 40px;
  font-weight: bold;
}

.fv-heading-sub {
  margin-top: 12px;
  display: block;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8%;
  }
}

.service-item + .service-item {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .service-item + .service-item {
    margin-top: 0;
  }
}

.service-item-img {
  text-align: center;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service-item-img img {
  width: 140px;
}

.service-item-name {
  font-size: 18px;
  color: #1B435D;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.service-item-text {
  font-size: 14px;
  line-height: 1.6;
}

.features-sub-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 32px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features-item + .features-item {
  margin-top: 12px;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features-item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.features-item-img {
  width: 160px;
  border-radius: 50%;
}

.features-item-text {
  font-size: 14px;
  line-height: 1.6;
  padding: 12px;
}

.works {
  background-color: #f0f8ff;
}

@media screen and (min-width: 768px) {
  .works-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .works-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6%;
  }
}

.works-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-item + .works-item {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .works-item + .works-item {
    margin-top: 0;
  }
}

.works-item-img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 12px;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.works-item-img:hover {
  opacity: 0.7;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.works-item-name {
  font-weight: bold;
  color: #1B435D;
  margin-bottom: 6px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.works-item-name:hover {
  opacity: 0.7;
}

@media screen and (min-width: 768px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
}

.about-item-img {
  margin: 0 auto;
  width: 200px;
}
@media screen and (min-width: 768px) {
  .about-item-img {
    width: 400px;
  }
}

.about-text + .about-text {
  margin-top: 16px;
}

.about-name {
  font-size: 14px;
  font-weight: bold;
  color: #1B435D;
}

.about-sns-link {
  color: #2b7bb9;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.about-sns-link:hover {
  opacity: 0.7;
}

.about-sns-link-img {
  width: 24px;
}

.about-sns-link-text {
  margin-left: 12px;
  font-size: 14px;
}

.flow {
  background-color: #f0f8ff;
}

.flow-list {
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .flow-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .flow-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 16px;
  }
}

.flow-item {
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  padding: 46px 16px 24px;
}

.flow-item + .flow-item {
  margin-top: 46px;
}
@media screen and (min-width: 768px) {
  .flow-item + .flow-item {
    margin-top: 0;
  }
}

.flow-item-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1B435D;
  color: #fff;
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flow-item-img {
  margin-bottom: 24px;
  text-align: center;
}

.flow-item-name {
  font-size: 18px;
  color: #1B435D;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.qa-container {
  margin: 50px auto 0;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .qa-container {
    max-width: 944px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .qa-container {
    max-width: 707px;
  }
}

.qa-list:not(:first-child) {
  margin-top: 10px;
}

.question-title {
  background: #eee;
  cursor: pointer;
  font-size: 16px;
  padding: 20px 40px;
  position: relative;
}

.question-title:before {
  position: absolute;
  display: block;
  content: "Q";
  top: 20px;
  left: 12px;
  color: #1B435D;
  font-size: 18px;
}

.question-title:after {
  position: absolute;
  display: block;
  content: "";
  top: 35%;
  right: 22px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.question-title.open:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 45%;
}

.answer-text {
  display: none;
  padding: 20px 40px;
  position: relative;
}

.answer-text:before {
  position: absolute;
  display: block;
  content: "A";
  top: 20px;
  left: 12px;
  color: #1B435D;
  font-size: 18px;
}

.price-table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #AEAEAE;
}
@media screen and (min-width: 768px) {
  .price-table {
    max-width: 1140px;
  }
}

.price-th-name,
.price-td-check,
.price-td-name {
  vertical-align: middle;
  padding: 8px;
  border-bottom: 1px solid #AEAEAE;
  border-right: none;
}

.price-th-name {
  font-size: 16px;
  background-color: #f0f8ff;
  font-weight: 600;
  text-transform: uppercase;
}

.price-td-name {
  font-size: 16px;
  width: 30%;
  text-align: left;
  padding: 12px 12px 12px 16px;
}

.price-td-check {
  font-size: 20px;
  color: #1B435D;
  width: 20%;
}

.price-value {
  font-size: 20px;
  font-family: "Noto Serif JP";
  letter-spacing: 0.05em;
}

.price-unit {
  font-size: 12px;
  font-weight: bold;
  padding-left: 4px;
}

.contact-list {
  padding: 40px 16px;
}
@media screen and (min-width: 768px) {
  .contact-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 48px;
  }
}

.contact-list-item + .contact-list-item {
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .contact-list-item + .contact-list-item {
    margin-top: 0;
  }
}

.contact-link {
  display: block;
  width: 100%;
  padding: 12px 0;
  background-color: #1B435D;
  border: none;
  border-radius: 100vh;
  text-align: center;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s;
  transition: box-shadow 0.3s, transform 0.3s, -webkit-box-shadow 0.3s, -webkit-transform 0.3s;
}
.contact-link:hover {
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.contact-link-text {
  color: white;
}

@media screen and (min-width: 768px) {
  .contact-text {
    text-align: center;
  }
}

.message {
  background-color: #f0f8ff;
}

@media screen and (min-width: 768px) {
  .message_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
}

.message_img {
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 32px;
}

.message_text {
  font-size: 16px;
  line-height: 1.6;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #f0f8ff;
}

.footer_copy {
  color: #1B435D;
  font-size: 11px;
  font-family: "Noto Sans JP", sans-serif;
}

/* トップへ戻るボタン */
.button-to-top {
  font-size: 120%;
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  width: 56px;
  height: 56px;
  background: #78BBE6;
  border: none;
  border-radius: 50%; /* 円のボタンにする */
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  /* ページ右下へ固定配置 */
  position: fixed;
  right: 20px;
  bottom: 32px;
}
.button-to-top:hover .button-to-up-text {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.button-to-up-text {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.element {
  /* 最初は非表示 */
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: opacity 1s, visibility 1s, -webkit-transform 1s;
  transition: opacity 1s, visibility 1s, -webkit-transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s;
  transition: opacity 1s, visibility 1s, transform 1s, -webkit-transform 1s;
}

/* フェードイン時に入るクラス */
.is-fadein {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}