//サイト内で使用する色を定義
//デイトラ
$white: #fff;
$black: #000;
$cl-black: #333;
$bg-dark: #4a4a4a;
$light-gray1: #f9f9f9;
$light-gray2: #ededed;
$light-gray3: #AEAEAE;

//オリジナル
$rich-blue: #1B435D;
$middle-blue: #78BBE6;
$light-blue: #f0f8ff;
$link-blue: #2b7bb9;